.mainlayout div {
    background-color: #ff9e9e;
    color: antiquewhite;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    border: 3px red solid;
}

.mainlayout {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    padding: 5px;
}

.header {
    grid-column: 1 / span 6;
}

.leftasidebar {
    grid-row: 2 / span 2;
}

.maincontent {
    grid-column: 2 / span 4;
    grid-row: 2 / span 2 ;
}
.footer{
    grid-column: 1 / span 6;    
}